<li id="meeting-<%= meeting.id %>">
  <span class="user"><%= link_to meeting.user.name, meeting.user %></span>
  <span class="timestamp">
    Created <%= time_ago_in_words(meeting.created_at) %> ago.
  </span>
</li>